.main{
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.heading{
  font-size: 24px;
  font-weight: 600;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 0;
  width: 300px;
  border-radius: 160px;
  font-size: 16px;
  color: var(--white);
  font-weight: 700;
  background: var(--gradient);
  cursor: pointer;
  transition: var(--transition);
}
.button:hover{
  transform: scale(95%);
}