.nav {
  position: fixed;
  top: 0; 
  left: 50%;
  transform: translateX(-50%); 
  width: 100%;
  height: 80px;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black); 
  z-index: 1000;
}
.nav::after{
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--gradient);
  opacity: 0.3;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-weight: 700;
  font-size: 20px;
  margin-right: auto;
  z-index: 1101;
}