.nav {
  position: fixed;
  top: 0; 
  left: 50%;
  transform: translateX(-50%); 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  transition: var(--transition);
  z-index: 1000;
}
.nav.scrolled{
  background: #060A13A1;
  backdrop-filter: blur(8px);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}
.link{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 16px;
  color: var(--muted);
  transition: var(--transition);
}
.link:hover{
  color: var(--white);
}
.link:first-child{
  margin-right: auto;
}
.link:last-child{
  margin-left: auto;
}
.logo{
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
}
.avatar{
  border-radius: 4px;
}
.name{
  font-weight: 500;
  font-size: 20px;
}

.menu {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-bottom: 32px; 
  z-index: 999;    
  transition: var(--transition);
}
.menu.open {
  display: flex;
}
.burger{
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  background: none;
  transition: var(--transition);
}
.line{
  width: 24px;
  height: 2px;
  background: var(--white);
  border-radius: 2px;
  transition: var(--transition);
}
.burger.open{
  gap: 0;
}
.burger.open .line:first-child, .burger.open .line:last-child{
  height: 0;
}
.menu .link:first-child, .menu .link:last-child{
  margin: unset;
}

.head{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  transition: var(--transition);
}
.nav.scrolled .head{
  height: 80px;
}


.desktop{
  display: none;
}
@media (min-width: 768px) {
  .desktop{
    display: flex;
  }
  .mobile{
    display: none;
  }
  .nav{
    height: 120px;
  }
  .container{
    flex-direction: row;
    gap: 32px;
  }
}