.aside {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  width: 100%;
  background: var(--dark);
  border-top: 1px solid var(--semi-dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 0;
  z-index: 1000;
}
.top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  display: none;
}
.nav {
  height: 24px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
.menuItem {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 4px;
}
.h2 {
  font-size: 16px;
  font-weight: 500;
  color: var(--muted);
  text-wrap: nowrap;
  display: none;
}
.menuItem.active,
.menuItem:hover {
  padding-left: 0;
  transform: none;
}
.menuItemIcon{
  filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(166%) hue-rotate(197deg) brightness(97%) contrast(94%);
}
.menuItem.active{
  filter: brightness(0) saturate(100%) invert(99%) sepia(98%) saturate(50%) hue-rotate(82deg) brightness(113%) contrast(96%);
}

@media (min-width: 576px) {
  .aside{
    box-sizing: border-box;
    overflow: hidden;
    text-wrap: nowrap;
    height: 100%;
    min-height: 450px;
    width: 250px;
    padding: 16px;
    border-right: 1px solid var(--semi-dark);
    gap: 32px;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    bottom: unset;
    left: unset;
    right: unset;
    transition: var(--transition);
  }
  .top{
    display: flex;
  }
  .logo{
    height: 24px;
  }
  .arrow{
    box-sizing: content-box;
    margin-left: auto;
    transition: 0.15s ease-in-out;
    cursor: pointer;
  }
  .nav{
    width: 100%;
    height: 100%;
    flex: unset;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
  }
  .menuItem{
    width: 100%;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    transition: var(--transition);
  }
  .menuItem.active{
    padding-left: 16px;
  }
  .menuItem:hover{
    padding-left: 16px;
  }
  .h2{
    display: block;
  }
  .menuItem.active .h2{
    color: var(--white);
  }
  .menuItem:last-child{
    margin-top: auto;
  }

  .aside.collapsed{  
    padding: 16px 8px;
    width: 64px;
  }
  .aside.collapsed .arrow{
    padding: 0 12px;
    transform: rotate(180deg);
  }
  .aside.collapsed .menuItem{
    padding-left: 12px;
    gap: 16px;
  }
  .aside.collapsed .menuItem:hover{
    transform: scale(130%);
  }
}