:root{
  --black: #060A13;
  --dark: #11161F;
  --semi-dark: #3E4952;
  --muted: #9E9E9E;        
  --white: #FAFAFA;       
  --accent: #3c00ff;    
  --gradient: linear-gradient(90deg, #9810fa 0%, #155dfb 100%);
  --transition: 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: var(--font-jetbrains_mono);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--white);
  background: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}



.heading-accent{
  background: linear-gradient(90deg, #FAFAFA, #DC3DD5);
  color: transparent;
  background-clip: text;
}

.container{
  width: 100%;
  display: flex;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px){
  .container{
    max-width: calc(768px - 32px);
  }
}

@media (min-width: 992px){
  .container{
    max-width: calc(992px - 32px);
  }
}

@media (min-width: 1200px){
  .container{
    max-width: calc(1200px - 32px);
  }
}

@media (min-width: 1400px){
  .container{
    max-width: calc(1400px - 32px);
  }
}