:root{
  --black: #060A13;
  --dark: #11161F;
  --muted: #9E9E9E;        
  --white: #FAFAFA;       
  --accent: #B64FD8;    
  --transition: 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--muted);
  background: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

.container{
  width: 100%;
  display: flex;
  width: 100%;
  padding: 16px;
}

@media (min-width: 768px){
  .container{
    max-width: calc(768px - 32px);
  }
}

@media (min-width: 992px){
  .container{
    max-width: calc(992px - 32px);
  }
}

@media (min-width: 1200px){
  .container{
    max-width: calc(1200px - 32px);
  }
}

@media (min-width: 1400px){
  .container{
    max-width: calc(1400px - 32px);
  }
}