.dashboard{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  overflow-x: hidden;
}
.children{
  flex: 1;
  height: 100%;
  transition: var(--transition);
  overflow-x: auto;
}
.heading{
  font-size: 24px;
  font-weight: 600;
}
.df{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
