.dashboard{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  overflow-x: hidden;
}
.children{
  flex: 1;
  height: 100%;
  transition: var(--transition);
  overflow-x: auto;
}

